@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=block');

* {
  margin: 0;
  padding: 0;
}

:root {
  /* To change rem size onn resizing */
  font-size: 1vw;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: rgb(236, 229, 215);
}
